# MongoDB Configuration
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/nizam_ai?retryWrites=true&w=majority

# Razorpay Configuration (Optional)
RAZORPAY_KEY_ID_TEST=rzp_test_T5BBMRJMadNJld
RAZORPAY_KEY_SECRET_TEST=luH7NOEavl53684xdCLI6nnN
RAZORPAY_KEY_ID_LIVE=rzp_live_T8zEOhZpoy5nC1
RAZORPAY_KEY_SECRET_LIVE=4atc5Ssut3fCDj5jn2lF3gKQ

# OpenAI Configuration (Optional)
OPENAI_API_KEY=your_openai_api_key

# AWS SES Configuration (Optional)
SES_REGION=us-east-1
SES_VERIFIED_SENDER=your-email@example.com

# Application URL
APP_URL=https://ammawears.com

# Server Port
PORT=4000
